# delete .zshrc .zshenv now that we've moved to nix
dotfiles/.zshrc
dotfiles/.zshenv

dotfiles/.config/*
!dotfiles/.config/nvim/
!dotfiles/.config/environment.d/
!dotfiles/.config/zoom.conf
!dotfiles/.config/zoomus.conf
!dotfiles/.config/tmuxinator
!dotfiles/.config/tmux
!dotfiles/.config/sway
!dotfiles/.config/i3status
!dotfiles/.config/waybar

!dotfiles/.config/home-manager
!dotfiles/.config/kitty
!dotfiles/.config/foot




__pycache__/
dotfiles.backup/
